/* default project area */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montaerrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

header {
    height: 100px;
    background-color: black;
    color: white;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logo-img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: 2px solid #b28756;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style: none;
    display: flex;
}

.menu li a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 5px solid black;
    font-weight: 600;
}

.menu .active a,
.menu li a:hover {
    border-bottom: 5px solid #b28756;
    color: rgb(187, 187, 187);
}

.banner {
    background-color: rgb(34, 34, 34);
    height: calc(100vh - 100px);
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.banner .sliders {
    height: 100%;
    width: 1000vw;
}

.banner .slide {
    height: 100%;
    width: 100vw;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slide-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.banner h1 {
    color: white;
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
}

.banner h1 span {
    color: #b28756;
}

.banner h2 {
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
}

a.button {
    display: inline-block;
    background-color: #b28756;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 30px;
}

.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border-radius: 8px;
    border: 1px solid #b28756;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
}

.banner .pointer.actived,
.banner .pointer:hover {
    background-color: #b28756;
}

.defaut {
    background-color: red;
    padding-top: 50px;
    padding-bottom: 50px;
}

.defaut .section-title,
.defaut .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.defaut .section-title {
    font-size: 20px;
}

.defaut .section-desc {
    font-size: 10px;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 40px;
}

.defaut .section-body {
    margin: auto;
    max-width: 1140px;
}

.defaut.light {
    background-color: #f7f7f7;
}

.defaut.light .section-title,
.defaut.light .section-body {
    color: black;
}

.defaut.dark {
    background-color: #000;
}

.defaut.dark .section-title,
.defaut.dark .section-body {
    color: white;
}












/* specific areas */

.section-about-us {
    display: flex;
}

.section-about-us--left {
    flex: 1;
}

.section-about-us--left p {
    font-size: 14px;
    line-height: 23px;
}

.section-about-us--right {
    width: 520px;
    text-align: center;
}

.section-about-us--right img {
    width: 420px;
    box-shadow: 0px 5px 10px rgb(44, 44, 44);
}

.section-services {
    display: flex;
}

.section-service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}

.section-service:first-child {
    border-left: 1px solid #333;
}


.section-service h4 {
    margin-top: 20px;
    font-size: 18px;
}

.section-service p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects-filters{
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}

.section-projects-filters ul,
.section-projects-filters li{
    list-style: none;
}

.section-projects-filters li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #ccc;
    color: #555;
    border-bottom: 3px solid #eee;
    cursor: pointer;
}

.section-projects-filters li.actived,
.section-projects-filters li:hover{
    border-bottom: 3px solid #b28756;
}

.section-projects-filters li:first-child{
    border-left: 0;
}

.section-projects-photos{
    max-width: 1140px;
    width: 100vw;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects-photo{
    width: 280px;
}

.section-projects-photo-area{
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects-photo-area img{
    width: inherit;
    height: inherit;
}

.section-projects-photo-area:hover .section-projects-photo-information{
    display: flex;
}

.section-projects-photo-information{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.section-projects-photo-information h5{
    font-size: 18px;
    font-weight: 400;
}